.itemUm {
    background-color: aqua;
    position: absolute;
    /* position: relative; */
    left: 10%;
    top: 30px;
}
.itemDois {
    background-color: orange;
}
.itemTres {
    background-color: palegreen;
}

.itens {
    width: 30%;
    height: 50px;
}
